<div>
    <h2>Reset password</h2>
    <form class="form">
        <label>Username</label>
        <input type="text" class="username" required />

        <label for="newPasswrd">New password</label>
        <input type="password" class="newPassword" required />

        <label for="RepeatPassword">Repeat your new password</label>
        <input class="repeatPassword" required />
    </form>

    <button class="confirm" type="submit">Confirm new password</button>
</div>
<script src="js/forgot.js"></script>