<div>
    <h1>Purchase completed!</h1>
    <h2>Thank you for your purchase!</h2>
    <h3>You will be redirected to our main site</h3>
    <a href="http://localhost:8080">Back to the main site</a>
</div>