<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
</head>
<body>
    <div>
        <h2>update your profile information</h2>

        <label for="username">USERNAME</label>
        <input type="text" class="username" required />

        <label for="password">PASSWORD</label>
        <input type="text" class="password" required />

        <label for="email">EMAIL</label>
        <input type="text" class="email" required />

        <button type="submit">Update your profile</button>
    </div>
</body>
</html>